{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
<link rel="stylesheet" rel="text/css" href="{% static 'css/Stylesheet.css' %}"/>
<link rel="stylesheet" rel="text/css" href="{% static 'css/Login.css' %}"/>
<link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}"/>

{% endblock css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Welcome to Career Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
    <meta name="keywords" content="Career Portal, United Arab Emirates, jobs ads, jobs, ads, script, app, premium jobs">


</head>
<!--This is the begining of the header!-->
<header>
    <nav>
        <section class="nav-container">
            <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                   height="60.0em" width="170.0em"></div>
            <aside class="menu">
                <div class="menu-content">
                </div>
            </aside>
        </section>
    </nav>

    <div class="bottomnav">
        <a class="active" href="/"> <b>Home</b></a>
    </div>
</header>
<br>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="headtop">
        <h2>Password Reset</h2>
    </div>
        <div class="login-box-body">
        <div class="form-group has-feedback">
            <strong> {{ form.as_p }} </strong>
        </div>

            <div style="text-align:right;">
                <button type="submit" href="/password_link_sent" style="background-color:rgb(204,0,0); width:80px; height:30px; color:white; font-weight:700 ; cursor:pointer">Submit</button></div></div>

        <!-- /.login-box-body -->
    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });


    </script>

    </form>
</body>
<br>
<!--This is the begining of the footer!-->
<footer>
    <div class="main">

        <!-- This is the 1st column of the footer!-->
        <div class="about">
            <ul><h3>ABOUT US</h3>
                <a href="https://www.murdochuniversitydubai.com/faq">
                    <li>FAQ</li>
                </a>
                <a href="https://murdochdubaicareerportal.com/page/anti-scam">
                    <li>Anti-Scam</li>
                </a>
                <a href="">
                    <li>Terms</li>
                </a>
                <a href="https://www.murdochuniversitydubai.com/university-privacy-policy">
                    <li>Privacy</li>
                </a>
            </ul>
        </div>

        <!-- This is the 2nd column of the footer !-->
        <div class="sitemap">
            <ul>
                <h3>SITEMAP</h3>
                <a href="sitemap.html">
                    <li> Sitemap</li>
                </a>
            </ul>
        </div>

        <!-- This is the 4th column of the footer !-->
        <div class="contact">
            <h3> CONTACT US </h3>
            <p class="para1">
                <b>Murdoch University Dubai</b>
                <br>
            </p>
            <p class="para2">
                Dubai International Academic City <br>
                Block 10, Fourth floor <br>
                P.O. Box 345005 <br>
                Dubai, United Arab Emirates
            </p>

        </div>

        <!-- This is the 5th column of the footer !-->
        <div class="follow">
            <h3> FOLLOW US </h3>
            <a href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img
                    src="{% static 'images/twitter.png' %}" alt="Twitter Icon" height="35.0em" width="35.0em"> </a>
            <a href="https://www.facebook.com/murdochdubai/"><img src="{% static 'images/facebook.png' %}"
                                                                  alt="Facebook Icon" height="40.0em"
                                                                  width="40.0em"></a>
            <a href="https://www.linkedin.com/school/murdoch-university-dxb/"><img
                    src="{% static 'images/linkedin.png' %}" alt="LinkedIn Icon" height="35.0em" width="35.0em"></a>
            <a href="https://www.instagram.com/murdochdubai/?hl=en"><img src="{% static 'images/insta.png' %}"
                                                                         alt="Instagram Icon" height="40.0em"
                                                                         width="47.0em"></a>
        </div>
    </div>
</footer>

</html>
