{% block css %}
{% endblock css %}

{% block content %}
<table class="table">
    <thead>
    <tr class="text-center">
        <th>Title</th>
        <th>Feed</th>
        <th>Release Date</th>
        <th>Author</th>
        <th>Updated Date</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr class="text-center">
        <td> {{ post.title }}</td>
        <td> {{ post.feed }}</td>
        <td> {{ post.release_date }}</td>
        <td> {{ post.author }}</td>
        <td> {{ post.update_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block js %}
<script>
        // the initialisation of dataTables and set the ordering of first column
        $(".table").DataTable({
            "order": [[0, "desc"]]
        });


</script>
{% endblock js %}