{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/index.css' %}"/>
{% endblock css %}

{% block title %}
<title>Bulletin - Add New Post</title>
{% endblock title %}

{% block content %}
{% if user.user_type == 'admin' %}

<p>Add New Post</p>


<form method="POST">
    {% csrf_token %}

    {{ form.title }}

    <br><br>

    {{ form.feed }}

    <br><br>
    <button id="submitbutton" type="submit" name="submitbutton" value="submitbutton">Submit
    </button>


</form>
{% endif %}
{% endblock content %}