<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4><a href="../../admin">Back to admin home</a></h4>
    <h2>Admin account creation</h2>
    <form action="{% url 'admin_register' %}" method="post">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ admin_form.as_p }}

        <input type="checkbox" name="terms" required> 
        <label>I have read and agree to the terms and conditions</label><br><br>

        <input type="submit"> 
    </form>

    <div>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>