<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="{% url 'edit_admin_profile' %}">
        {% csrf_token %}

        {{user_form.as_p}}
        {{admin_form.as_p }}

        <input type="hidden" name="next" value="{% url 'view_admin_profile' %}">

        <button type="submit">Save Changes</button>
        <button type="button"><a href="{% url 'view_admin_profile' %}">Cancel</a></button>
    </form>

    <!-- this displays any errors during submission -->
    <div>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>