{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Statistics
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}

{% block content %}
<br><br>
    <table class="table" align="center">
        <thead>
            <tr class="text-area">
                <th>Type of Statistics</th>
                <th>Count</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center">
                <td>Users Signed Up</td>
                <td>{{ users }}</td>
            </tr>

            <tr class="text-center">
                <td>Students Signed Up</td>
                <td>{{ students }}</td>
            </tr>

            <tr class="text-center">
                <td>Current Students Signed Up</td>
                <td>{{ current }}</td>
            </tr>

            <tr class="text-center">
                <td>Alumni Signed Up</td>
                <td>{{ alumni }}</td>
            </tr>

            <tr class="text-center">
                <td>Employers Signed Up</td>
                <td>{{ employers }}</td>
            </tr>

            <tr class="text-center">
                <td>Jobs Posted</td>
                <td>{{ jobs_posted }}</td>
            </tr>

            <tr class="text-center">
                <td>Student Applications</td>
                <td>{{ apps }}</td>
            </tr>

            <tr class="text-center">
                <td>Active Jobs</td>
                <td>{{ open_jobs }}</td>
            </tr>

            <tr class="text-center">
                <td>Jobs Filled by Murdoch Students</td>
                <td>{{ closed_jobs }}</td>
            </tr>

            <tr class="text-center">
                <td>Jobs Deleted</td>
                <td>{{ deleted_jobs }}</td>
            </tr>
        </tbody>
    </table>
<br><br>
    <button type="button" class="buttons" style="background-color: rgb(204,0,0); color:white; width: 140px; height:30px; margin-left: 43em;"><a href="{% url 'export_stats_file' users students current alumni employers jobs_posted apps open_jobs closed_jobs deleted_jobs %}">Export Data</a></button>
<br><br>
{% endblock %}