.container {
    margin: auto;
    width: 50%;
    background-color: #E8E8E8;
    padding-top: 3em;
    padding-bottom: 3em;
    align: center;
    border: 0.15em solid grey;
}
.container2 {
    margin: auto;
    width: 75%;
    background-color: #F8F8F8;
    padding-top:0.0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align: center;
    border: 0.15em solid grey;
}
.heading{
	Background-color: #E8E8E8;
	height: 2em;
	width:100%
	padding:0em;
	margin:0%;
}