.overall-page{
    display:flex;
}
.inside-container{
margin: auto;
    width: 60%;
    height: auto;
    background-color: #E8E8E8;
    padding-top: 0px;
    padding-bottom: 2em;
    align: center;
    border: 0.05em solid grey;}

 .inside-container2{
 margin: auto;
    width: 60%;
    height: auto;
    background-color: #F8F8F8;
    padding-top:1em;
    padding-left: 3em;
    padding-right: 3em;
    align: center;
    border: 0.05em solid grey;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-size {
    height: 30px;
    font-size: 18px;
}