.table {
  font-family: Arial;
  border-collapse: collapse;
  width: 70%;
  height: 50%
}

.text-center th , .text-center td{
  border: 1px solid #ddd;
  padding: 8px;
}
.text-center:hover {background-color: #ddd;}

.text-center th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(204,0,0);
  color: white;
}

.th {
text-align: left;
}