<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Students</title>
</head>
<body>
    <h4><a href="/">Back to home</a></h4>
     <h2>List of students</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Expected Graduation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <td> <a href ="{% url 'student_details' student.user_id %}">{{student.user.first_name}} {{student.user.last_name}}</a></td>
            <td>{{student.user}}</td>
            <td>{{student.expected_graduation_date}}</td>
         {% endfor %}
        </tr>
        </tbody>
    </table>
</body>
</html>