{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Delete Jobs - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
        <h2 align="center">Are you sure you want to delete the job {{ job.job_title }}?</h2>

        <div style="text-align:center">
            <button type="submit"><b>Yes, Delete</b></button>
            <button type="button"><a href="{% url 'job_details' job.id %}"><b>Cancel</b></a></button>
        </div>

        <div>
            {% for message in messages %}
            <h3> {{ message }} </h3>
            {% endfor %}
        </div>
</form>
{% endblock %}