<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="edit_employer_profile">
        {% csrf_token %}

        {{ employer_form.as_p }}

        <button type="submit">Save Changes</button>
        <button type="button"><a href="view_employer_profile">Cancel</a></button>
    </form>
    <div>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>