{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Stylesheet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job - Murdoch Dubai Job Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Welcome to Murdoch University Job Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
    <meta name="keywords"
          content="Job Portal, Career Portal, United Arab Emirates, jobs ads, career, jobs, ads, script, app, premium jobs">

    <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}"/>
</head>

<header>
    <nav>
        <section class="nav-container">
            <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                   height="60.0em" width="170.0em"></div>
            <aside class="menu">
                <div class="menu-content">
                    <a href="../accounts/logout"><i class="userlogin"></i>Log Out</a>
                    <a href="../employer/view_employer_profile"><i class="useradd "></i>{{ employer.company_name }}</a>
                </div>
            </aside>
        </section>
    </nav>

    <div class="bottomnav">
        <a class="active" href="/"> <b>Home</b></a>
        <a href="../view_jobs"> <b>Browse Students</b></a>
        <a href="../create_job"> <b> Post a job</b></a>
        <a href="../news"> <b> News</b></a>
    </div>
</header>

<body>
<br/><br/>
<div class="inside-container2">
    <h2>Edit Job Listing</h2>
    <hr>
    {% block content %}
        <form action="{% url 'edit_job' job.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% if user == 'employer' %}
                {{ jobForm.as_p }}
            {% elif user == 'admin' %}
                {{ jobForm.as_p }}
                {{ companyForm.as_p }}
            {% endif %}

            <input type="hidden" name="next" value="{% url 'job_details' job.id %}">
            <button class="button2" type="submit"><b>Save Changes</b></button>
            <button class="button2" type="button"><a href="{% url 'job_details' job.id %}"><b>Cancel</b></a></button>
        </form>
        </div>
        </div>
        <br><br>

        <!-- this displays any errors during submission -->
        <div>
            {% for message in messages %}
                <h3> {{ message }} </h3>
            {% endfor %}
        </div>

    {% endblock %}
</body>
</html>