{% extends "theme.html" %}
{% load staticfiles %}
<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}

{% block title %}
    Edit Job - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br><br>
    <div class="inside-container2">
        <h2>Edit Job Listing</h2>
        <hr>
        <form action="{% url 'edit_job' job.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% if user_type == 'employer' %}
                {{ jobForm.as_p }}
            {% elif user_type == 'admin' %}
                {{ jobForm.as_p }}
                {{ companyForm.as_p }}
            {% endif %}

            <input type="hidden" name="next" value="{% url 'job_details' job.id %}">
            <button class="button2" type="submit"><b>Save Changes</b></button>
            <button class="button2" type="button"><a href="{% url 'job_details' job.id %}"><b>Cancel</b></a></button>
        </form>
    </div>
    </div>
    <br><br>

    <!-- this displays any errors during submission -->
    <div>
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
    </div>

{% endblock %}