{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}

{% block title %}
    Employer Account Signup - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br><br>
    <div class="overall-page">

        <div class="inside-container">
            <div class="overall-page"></div>

            <h2 align="center">Create an account to post jobs</h2><br>
            <div class="inside-container2">
                <form action="employer_registration" method="post">
                    {% csrf_token %}

                    {% for field in user_form %}
                        <br>
                        <div class="Col1">{{ field.label }}:</div>
                        <div class="Col2">{{ field }}</div>
                    {% endfor %}

                    {% for field in employer_form %}
                        <div class="Col1">{{ field.label }}:</div>
                        <div class="Col2">{{ field }}<br>{{ field.help_text }}<br><br></div>
                    {% endfor %}

                    <input type="checkbox" name="terms" required>
                    <label>I have read and agree to the <a href="../terms" target="_blank">terms and conditions</a></label><br><br>

                    <div style="text-align:center;">
                        <input type="submit"
                               style="color: white;  background-color:rgb(204,0,0); width: 140px; height:30px; margin: 0 auto;"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br><br>
{% endblock %}