HELLOOOOOOO{% extends 'navbar.html' %}
{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Stylesheet.css' %}"/>
{% endblock css %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Jobs</title>
</head>
<header>
    <nav>
        <section class="nav-container">
            <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                   height="60.0em" width="170.0em"></div>
            <aside class="menu">
                <div class="menu-content">
                    <a href="../accounts/logout"><i class="userlogin"></i>LOG OUT</a>
                    <a href = "../employer/view_employer_profile"><i class="useradd "></i>{{ employer.company_name }}</a>
                </div>
            </aside>
        </section>
    </nav>

    <div class="bottomnav">
        <a class="active" href="#home"> <b>Home</b></a>
    </div>
</header>
<div class="container-fluid mainmargin">
    <div class="row">
        <div class="offset-md-1 col-md-10 bg-white card-shadow p-0">
            <h2 class="text-bold ccm-blue-background white p-3 font-15"> List of Filtered Jobs</h2>
            <div class="p-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Duration</th>
                        <th>Industry</th>
                        <th>Job Type</th>
                        <th>View more details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.date_posted}}</td>
                        <td>  {{job.job_title}} </td>
                        <td>{{job.description}}</td>
                        <td>{{job.location}}</td>
                        <td>{{job.salary}}</td>
                        <td>{{job.duration}}</td>
                        <td>{{job.industry_id}}</td>
                        <td>{{job.job_type_id}}</td>
                         <td> <a href ="{% url 'job_details' job.id %}"> {{job.job_title}} </a></td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>

{% endblock %}

{% block js %}
<script>
    // the initialisation of dataTables and set the ordering of first column

     $('.table').DataTable({
        "order": [[ 0, "desc" ]],
        scrollX: true
    });

</script>
{% endblock %}
