{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Profile</title>
</head>
  {% block content %}
<body>
<div class="job_post">
        <h2>Filter Job Listing</h2>
        <hr>

        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}

            <button class = "button2" type="Submit"><b>Submit</b></button>
        </form>
    </div>
</body>
  {% endblock content %}