<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Career Portal - Murdoch Dubai Career Portal</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Welcome to Career Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
        <meta name="keywords" content="Career Portal, United Arab Emirates, jobs ads, jobs, ads, script, app, premium jobs">

        <!-- Stylesheet -->
        <link rel="stylesheet" rel = "text/css" href="Stylesheet.css"/>

    </head>
    <!--This is the begining of the header!-->
    <header>
        <nav>
            <section class= "nav-container">
                <div class = "logo"><img src="Images/murdochlogo.png" alt = "Murdoch University Logo" height="85.0em" width="260.0em"></div>
                <aside class="menu">
                    <div class="menu-content"> 
                        <a href="#quickLogin"><i class="userlogin"></i>LOG IN</a>
                        <a href="register"><i class="useradd "></i>SIGN UP</a>
                    </div>
                </aside>
            </section>
        </nav>

        <div class="bottomnav">
            <a class="active" href="#home"> <b>Home</b></a>
        </div>
    </header>


    <body>
        <h1>HOME</h1>
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if user_type == 'student' %}
        <h3>Welcome, {{user.first_name}} {{ user.last_name }}</h3> <!-- displays welcome message -->
        <p><a href = "../student/view_student_profile">My Profile</a>
        <p><a href = "../view_jobs">BROWSE JOBS</a>

            {% elif user_type == 'employer' %}
        <h3>Welcome, {{ obj.company_name }}</h3>
        <p><a href = "../employer/view_employer_profile">My Employer Profile</a></p>
        <p><a href = "../view_jobs">MY JOBS</a>
        <p><a href = "../employer/create_job">POST A JOB</a></p>
        {% elif user_type == 'admin' %}
        <h3>Welcome, {{user.first_name}} {{ user.last_name }}</h3> <!-- displays welcome message -->
        <p><a href = "../view_jobs">MY JOBS</a>
            {% endif %}
        <p><a href = "../accounts/logout">LOGOUT</a></p>
        {% else %}
        <p><a href = "accounts/login">LOGIN</a></p>
        <p><a href = "admin">ADMIN - > LOGIN</a></p>
        <p><a href = "student/student_registration">STUDENT -> REGISTER</a></p>
        <p><a href = "employer/employer_registration">EMPLOYER -> REGISTER</a></p>

        {% endif %}
    </body>
    
    <!--This is the begining of the footer!-->
    <footer>
        <div class = "main">

            <!-- This is the 1st column of the footer!-->
            <div class = "about"> 
                <ul><h3>ABOUT US</h3>
                    <a href = "https://www.murdochuniversitydubai.com/faq"> <li>FAQ</li> </a>
                    <a href = "https://murdochdubaicareerportal.com/page/anti-scam"> <li>Anti-Scam</li> </a>
                    <a href = ""><li>Terms</li> </a>
                    <a href = "https://www.murdochuniversitydubai.com/university-privacy-policy"><li>Privacy</li> </a>
                </ul>
            </div>

            <!-- This is the 2nd column of the footer !-->
            <div class = "sitemap">
                <ul>
                    <h3>SITEMAP</h3>
                    <a href = "sitemap.html"><li> Sitemap </li> </a>
                </ul>
            </div>

            <!-- This is the 3rd column of the footer !-->
            <div class = "helpDesk">
                <h3> </h3>

            </div>

            <!-- This is the 4th column of the footer !-->
            <div class = "contact">
                <h3> CONTACT US </h3>
                <p class="para1">
                    <b>Murdoch University Dubai</b>
                    <br>   
                </p>
                <p class="para2">
                    Dubai International Academic City <br>
                    Block 10, Fourth floor <br>
                    P.O. Box 345005 <br>
                    Dubai, United Arab Emirates
                </p>
                
            </div>

            <!-- This is the 5th column of the footer !-->
            <div class = "follow">
                <h3> FOLLOW US </h3>          
                <a href= "https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src = "Images/twitter.png" alt = "Twitter Icon" height="35.0em" width="35.0em"> </a>
                <a href= "https://www.facebook.com/murdochdubai/"><img src= "Images/facebook.png" alt = "Facebook Icon" height="40.0em" width="40.0em"> </a>
                <a href= "https://www.linkedin.com/school/murdoch-university-dxb/"><img src = "Images/linkedin.png" alt = "LinkedIn Icon" height="35.0em" width="35.0em"></a>
                <a href = "https://www.instagram.com/murdochdubai/?hl=en"><img src = "Images/insta.png" alt = "Instagram Icon" height="40.0em" width="47.0em"></a>
            </div>
        </div>
    </footer>
</html>