{% extends "theme.html" %}
{% load staticfiles %}
<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}

{% block title %}
    Job Listing Details - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br><br>
    <div class="overall-page">
        <div class="inside-container">
            <form method="POST">
                {% csrf_token %}

                <div class = "overall-page">
                <div class="icon" style = flex:1;">
                    {% for company in companies %}
                        {% if job.posted_by == company.user %}
                            {% if company.logo %}
                                <img src="{{ company.logo.url }}" height="80.0em" width="90.0em">
                            {% else %}
                                <img src="{% static 'DefaultDP.jpg' %}" height="80.0em" width="90.0em">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div style="text-align: display: inline-block;">
                    <br/><br/>
                    <button class = "buttons" type="button"><a href="{% url 'close_job' job.id %}">Close Job</a></button>
                    <button class = "buttons" type="button"><a href="{% url 'delete_job' job.id %}">Delete Job</a></button>
                    <button class = "buttons" style = "margin-right: 5em;" type="button"><a href="{% url 'edit_job' job.id %}">Edit Job</a></button>
                    <br><br>
                </div>
                </div>

                <div class="inside-container2">
                    <h3>{{ job.job_title }}</h3>
                    <p>{{ job.description }}</p>
                    <p>{{ job.location }} | {{ job.duration }} | AED {{ job.salary }}</p>
                    <p>Posted On: {{ job.date_posted }}</p>

                    Skills required:
                    {% for skill in job.skills.all %}
                        <li>{{ skill }}</li>
                    {% endfor %}

                    {% for company in companies %}
                        {% if job.posted_by == company.user %}
                            <p>{{ company.company_name }}</p>
                            <p>{{ company.company_description }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <p>{{ job.desc }}</p>
                {% if user_type == 'student' %}
                    <div style="text-align:center;">
                        {% if applied == False %}
                            <button class = "buttons2" type="submit" name="apply" value="Apply&Save">&nbsp;Apply To Job</button>
                        {% else %}
                            <h4>Your application has been submitted.</h4> 
                            <!-- a disabled button here -->
                        {% endif %}
                    </div>
                {% else %}
                    <button class="button2" type="submit" name="viewcandidates" value="ViewCandidates&Save"><b>View
                        Applicants</b></button>
                    <button class="button2" type="button"><a href="{% url 'job_to_student_skills' job.id %}"><b>View
                        Candidates</b></a></button>
                {% endif %}
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}