<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout - Murdoch Dubai Job Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Welcome to Murdoch University Job Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
    <meta name="keywords"
          content="Job Portal, Career Portal, United Arab Emirates, jobs ads, career, jobs, ads, script, app, premium jobs">

    <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}"/>
</head>
<body>
<h3>Are you sure you would like to logout?</h3>

<p><a href="Logout">YES</a></p>
<p><a href="Cancel_Logout">NO</a></p>
</body>
</html>