{% load staticfiles %}

{% block title %}
    <title>NEWS HEADLINES BY CNN</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Stylesheet.css' %}"/>
{% endblock css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News - Murdoch Dubai Job Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Welcome to Murdoch University Job Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
    <meta name="keywords"
          content="Job Portal, Career Portal, United Arab Emirates, jobs ads, career, jobs, ads, script, app, premium jobs">

    <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}"/>
</head>

<header>
    <nav>
        <section class="nav-container">
            <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                   height="60.0em" width="170.0em"></div>
            <aside class="menu">
                <div class="menu-content">
                    <a href="../accounts/logout"><i class="userlogin"></i>Log Out</a>

                    {% if user.user_type == 'student' %}
                        <a href="../student/view_student_profile"><i
                                class="userlogin"></i>{{ user.first_name }} {{ user.last_name }}</a>
                    {% elif user.user_type == 'employer' %}
                        <a href="../employer/view_employer_profile"> {{ user.obj.company_name }} </a>
                    {% elif user.user_type == 'admin' %}
                        <a href="../admin"> {{ user.username }} </a>
                    {% endif %}
                </div>
            </aside>
        </section>
    </nav>

    <div class="bottomnav">
        <a class="active" href="/"> <b>Home</b></a>
        {% if user.user_type == 'student' %}
            <a href="../view_jobs"><b>Browse Jobs</b></a>
        {% elif user.user_type == 'employer' %}
            <a href="../view_students"><b>Browse Students</b></a>
        {% elif user.user_type == 'admin' %}
            <a href="../view_jobs"><b>Browse Jobs</b></a>
            <a href="../view_students"><b>Browse Students</b></a>
        {% endif %}
        <a class="active" href="/news"> <b>News</b></a>
    </div>
</header>
{% block content %}
    <h5>Top Headlines</h5>

    {% for new, des, i, urllink in mylist %}


        <a href="{{ urllink }}"
           target="_blank">{{ new }}</a>

        <hr>

    {% endfor %}

    <div class="pagination">
        {% if mylist.has_previous %}
            <a
                    href="?page=1">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
        {% endif %}

        {% for num in mylist.paginator.page_range %}

            {% if mylist.number == num %}
                <span>{{ num }}</span>
            {% elif num > mylist.number|add:'-3' and num < mylist.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if mylist.has_next %}
            <a
                    href="?page={{ mylist.paginator.num_pages }}">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>

{% endblock content %}
<!--This is the begining of the footer!-->
<footer>
    <div class="main">

        <!-- This is the 1st column of the footer!-->
        <div class="about">
            <ul><h3>ABOUT US</h3>
                <a href="https://www.murdochuniversitydubai.com/faq" class="white">
                    <li>FAQ</li>
                </a>
                <a href="https://murdochdubaicareerportal.com/page/anti-scam">
                    <li>Anti-Scam</li>
                </a>
                <a href="">
                    <li>Terms</li>
                </a>
                <a href="https://www.murdochuniversitydubai.com/university-privacy-policy">
                    <li>Privacy</li>
                </a>
            </ul>
        </div>

        <!-- This is the 2nd column of the footer !-->
        <div class="sitemap">
            <ul>
                <h3>SITEMAP</h3>
                <a href="sitemap.html">
                    <li> Sitemap</li>
                </a>
            </ul>
        </div>

        <!-- This is the 3rd column of the footer !-->
        <div class="helpDesk">
            <ul>
                <h3> SUPPORT </h3>
                <a href=my_helpdesk_request.html"> Help Desk</a>
            </ul>
        </div>

        <!-- This is the 4th column of the footer !-->
        <div class="contact">
            <h3> CONTACT US </h3>
            <p class="para1">
                <b>Murdoch University Dubai</b>
                <br>
            </p>
            <p class="para2">
                Dubai International Academic City <br>
                Block 10, Fourth floor <br>
                P.O. Box 345005 <br>
                Dubai, United Arab Emirates
            </p>

        </div>

        <!-- This is the 5th column of the footer !-->
        <div class="follow">
            <h3> FOLLOW US </h3>
            <a href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img
                    src="{% static 'images/twitter.png' %}" alt="Twitter Icon" height="35.0em" width="35.0em"> </a>
            <a href="https://www.facebook.com/murdochdubai/"><img src="{% static 'images/facebook.png' %}"
                                                                  alt="Facebook Icon" height="40.0em" width="40.0em">
            </a>
            <a href="https://www.linkedin.com/school/murdoch-university-dxb/"><img
                    src="{% static 'images/linkedin.png' %}" alt="LinkedIn Icon" height="35.0em" width="35.0em"></a>
            <a href="https://www.instagram.com/murdochdubai/?hl=en"><img src="{% static 'images/insta.png' %}"
                                                                         alt="Instagram Icon" height="40.0em"
                                                                         width="47.0em"></a>
        </div>
    </div>
</footer>
</html>
