{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/index.css' %}"/>
{% endblock css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terms - Murdoch Dubai Job Portal</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Welcome to Murdoch University Job Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
    <meta name="keywords"
          content="Job Portal, Career Portal, United Arab Emirates, jobs ads, career, jobs, ads, script, app, premium jobs">

    <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}"/>
</head>

<body>
{% csrf_token %}

<!--This is the beginning of the header!-->
<header>
    <nav>
        <section class="nav-container">
            <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                   height="60.0em" width="170.0em"></div>
            <aside class="menu">
                <div class="menu-content">
                    {% if user.is_authenticated %}
                        <a href="../accounts/logout"><i class="userlogin"></i>Log Out</a>
                        {% if user_type == 'student' %}
                            <a href="../student/view_student_profile"><i
                                    class="userlogin"></i>{{ user.first_name }} {{ user.last_name }}</a>
                        {% elif user_type == 'employer' %}
                            <a href="../employer/view_employer_profile"> {{ obj.company_name }} </a>
                        {% elif user.is_superuser %}
                            <a href="../admin"> {{ user.username }} </a>
                        {% endif %}
                    {% else %}
                        <a href="student/student_registration"><i class="userlogin"></i>Student Signup</a>
                        <a href="employer/employer_registration"><i class="userlogin"></i>Employer Signup</a>
                        <a href="accounts/login"><i class="userlogin "></i>Login</a>
                    {% endif %}
                </div>
            </aside>
        </section>
    </nav>

    <div class="bottomnav">
        <a class="active" href="/"> <b>Home</b></a>
        {% if user_type == 'student' %}
            <a href="../view_jobs"><b>Browse Jobs</b></a>
        {% elif user_type == 'employer' %}
            <a href="../view_students"><b>Browse Students</b></a>
            <a href="../create_job"> <b>Post a job</b></a>
        {% elif user.is_superuser %}
            <a href="../view_jobs"><b>Browse Jobs</b></a>
            <a href="/view_students"><b>Browse Students</b></a>
            <a href="../create_job"> <b>Post a job</b></a>
        {% endif %}
        <a href="../news"> <b>News</b></a>
    </div>
</header>

<body>
<h1>Terms</h1>
<div class="box">
    <h1><u>Terms & Conditions</u></h1>

    <h2><b>Definitions</b></h2>
    <br>
    <h3>Each of the terms mentioned below have in these Conditions of Sale JobClass Service (hereinafter the
        "Conditions") the following meanings:</h3>
    <br>
    <ol>
        <li>Announcement : refers to all the elements and data (visual, textual, sound, photographs, drawings),
            presented by an Advertiser editorial under his sole responsibility, in order to buy, rent or sell a product
            or service and broadcast on the Website and Mobile Site.
        </li>
        <li>Advertiser : means any natural or legal person, a major, established in France, holds an account and having
            submitted an announcement, from it, on the Website. Any Advertiser must be connected to the Personal Account
            for deposit and or manage its ads. Ad first deposit automatically entails the establishment of a Personal
            Account to the Advertiser.
        </li>
        <li>Personal Account : refers to the free space than any Advertiser must create and which it should connect from
            the Website to disseminate, manage and view its ads.
        </li>
        <li>JobClass : means the company that publishes and operates the Website and Mobile Site {YourCompany},
            registered at the Trade and Companies Register of Cotonou under the number {YourCompany Registration Number}
            whose registered office is at {YourCompany Address}.
        </li>
        <li>Customer Service : JobClass means the department to which the Advertiser may obtain further information.
            This service can be contacted via email by clicking the link on the Website and Mobile Site.
        </li>
        <li>JobClass Service : JobClass means the services made available to Users and Advertisers on the Website and
            Mobile Site.
        </li>
        <li>Website : means the website operated by JobClass accessed mainly from the URL http://www.bedigit.com and
            allowing Users and Advertisers to access the Service via internet JobClass.
        </li>
        <li>Mobile Site : is the mobile site operated by JobClass accessible from the URL http://www.bedigit.com and
            allowing Users and Advertisers to access via their mobile phone service {YourSiteName}.
        </li>
        <li>User : any visitor with access to JobClass Service via the Website and Mobile Site and Consultant Service
            JobClass accessible from different media.
        </li>
    </ol>
    <br>

    <h3><b>Subject</b></h3>
    <br>
    <h3>These Terms and Conditions Of Use establish the contractual conditions applicable to any subscription by an
        Advertiser connected to its Personal Account from the Website and Mobile Site.</h3>
    <br>
    <h3><b>Acceptance</b></h3>
    <br>
    <h3>Any use of the website by an Advertiser is full acceptance of the current Terms.</h3>
    <br>
    <h3><b>Responsibility</b></h3>
    <br>
    <h3>Responsibility for JobClass can not be held liable for non-performance or improper performance of due control,
        either because of the Advertiser, or a case of major force.</h3>
    <br>
    <h3><b>Modification of these terms</b></h3>
    <br>
    <h3>JobClass reserves the right, at any time, to modify all or part of the Terms and Conditions.<br>Advertisers are
        advised to consult the Terms to be aware of the changes.</h3>
    <br>
    <h3><b>Miscellaneous</b></h3>
    <br>
    <h3>If part of the Terms should be illegal, invalid or unenforceable for any reason whatsoever, the provisions in
        question would be deemed unwritten, without questioning the validity of the remaining provisions will continue
        to apply between Advertisers and JobClass.<br>Any complaints should be addressed to Customer Service JobClass.
    </h3>
    <br>
</div>

</body>

<!--This is the beginning of the footer!-->
<footer>
    <div class="main">
        <!-- This is the 1st column of the footer!-->
        <div class="about">
            <ul><h3>ABOUT US</h3>
                <li><a href="/"> FAQ</a></li>
                <li><a href="../Anti-Scam"> Anti-Scam</a></li>
                <li><a href="../Terms"> Terms</a></li>
                <li><a href="../Privacy"> Privacy</a></li>
            </ul>
        </div>

        <!-- This is the 2nd column of the footer !-->
        <div class="sitemap">
            <ul>
                <h3>SITEMAP</h3>
                <li><a href="sitemap.html"> Sitemap</a></li>
                </a>
            </ul>
        </div>

        <!-- This is the 3rd column of the footer !-->
        <div class="helpDesk">
            <ul>
                <h3> Help Desk</h3>
                <li><a href="../HelpDesk"> Help Desk</a></li>
            </ul>
        </div>

        <!-- This is the 4th column of the footer !-->
        <div class="contact">
            <h3> CONTACT US </h3>
            <p class="para1">
                <b>Murdoch University Dubai</b>
                <br>
            </p>
            <p class="para2">
                Dubai International Academic City <br>
                Block 10, Fourth floor <br>
                P.O. Box 345005 <br>
                Dubai, United Arab Emirates
            </p>
        </div>

        <!-- This is the 5th column of the footer !-->
        <div class="follow">
            <h3> FOLLOW US </h3>
            <a href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                <img
                        src="{% static 'images/twitter.png' %}" alt="Twitter Icon" height="35.0em" width="35.0em">
            </a>
            <a href="https://www.facebook.com/murdochdubai/"><img src="{% static 'images/facebook.png' %}"
                                                                  alt="Facebook Icon" height="40.0em"
                                                                  width="40.0em">
            </a>
            <a href="https://www.linkedin.com/school/murdoch-university-dxb/"><img
                    src="{% static 'images/linkedin.png' %}" alt="LinkedIn Icon" height="35.0em" width="35.0em"></a>
            <a href="https://www.instagram.com/murdochdubai/?hl=en"><img src="{% static 'images/insta.png' %}"
                                                                         alt="Instagram Icon" height="40.0em"
                                                                         width="47.0em"></a>
        </div>
    </div>
</footer>
</html>
