{% extends "theme.html" %}
{% load staticfiles %}
<!-- Stylesheet -->
{% block stylesheets %}
    <!-- <link rel="stylesheet" rel="text/css" href=" {//% static 'css/base.css' %}"/> -->

{% endblock stylesheets %}

{% block content %}

    <body>

    <h2> List of Jobs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Date Posted</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Salary</th>
            <th>Duration</th>
            <th>Industry</th>
            <th>Job Type</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
            <td>{{ job.date_posted }}</td>
            <td><a href="{% url 'job_details' job.id %}"> {{ job.job_title }} </a></td>
            <td>{{ job.description }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.salary }}</td>
            <td>{{ job.duration }}</td>
            <td>{{ job.industry_id }}</td>
            <td>{{ job.job_type_id }}</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {% for company in companies %}
        {% if job.posted_by == company.user %}
            <p>{{ company.company_name }}</p>
            {% if company.logo %}
                <img src="{{ company.logo.url }}"><br>
            {% else %}
                <img src="{% static 'DefaultDP.jpg' %}"><br>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if user_type == "student" %}
        <div class="job_post">
            <h2>Filter Job Listing</h2>
            <hr>

            <form method="POST">

                {% csrf_token %}
                {{ form.as_p }}

                <button class="button2" type="Submit"><b>Submit</b></button>
            </form>
        </div>
    {% endif %}


{% endblock %}

