{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel = "text/css" href="{% static 'css/Stylesheet.css' %}"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/form.css' %}"/>
<link rel="stylesheet" type = "text/css" href="{% static 'css/View.css' %}"/>
{% endblock css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Profile</title>
</head>
<header>
        <nav>
            <section class= "nav-container">
                <div class = "logo"><img src="{% static 'images/murdochlogo.png' %}" alt = "Murdoch University Logo" height="60.0em" width="170.0em"></div>
                <aside class="menu">
                    <div class="menu-content">
                    </div>
                </aside>
            </section>
        </nav>

        <div class="bottomnav">
            <a class="active" href="/"> <b>Home</b></a>
            <a href ="edit_student_profile"><b>Edit Profile</b></a>
            <a href = "../view_jobs"> <b>Browse Jobs</b></a>
        </div>
    </header>
<br><br>
<body>
<div class="page">
    <div class = "container" >
        <div class = "page">
            <div class="icon">
    {% if student.dp %}
        <img src="{{ student.dp.url }}" height="80.0em" width="90.0em">
    {% else %}
        <img src="{% static 'DefaultDP.jpg' %}" height="80.0em" width="90.0em">
    {% endif %}
            </div>
            <div style="align:center; padding-top: 20px;"><h2>My Profile</h2> </div>
        </div>
            <div class = "container2">

                <p class="view"> <strong> Student ID:</strong> {{ student.student_id }}</p>
                <p class="view"> <strong> First Name:</strong> {{ user.first_name }}</p>
                <p class="view"> <strong>Last Name:</strong> {{ user.last_name }}</p>
                <p class="view"> <strong>Email Address:</strong> {{ user.email }}</p>
                <p class="view"> <strong>Date of Birth:</strong> {{ student.DOB }}</p>
                <p class="view"> <strong>Gender:</strong> {{ student.gender }}</p>

                <strong>Skills: </strong><br><br>
       {% for skill in student.skills.all %}
                  <li>{{ skill }}</li><br>
    {% endfor %}
    {% if student.alumni_status %}
                <p class="view"> <strong> Alumni Status:</strong> Alumni</p>
    {% else %}
                <p class="view"> <strong>Alumni Status: </strong> Current Student</p>
                <p class="view"><strong> Expected Graduation Date:</strong> {{ student.expected_graduation_date }}</p>
                <p class="view"><strong> Personal Email Address:</strong> {{ student.personal_email }}</p>
    {% endif %}
                    <p class="view"><strong> CV: </strong> {{ student.cv }}</p><br>

            </div></div></div></div>
</body
<br><br>
<!--This is the begining of the footer!-->
    <footer>
        <div class = "main">

            <!-- This is the 1st column of the footer!-->
            <div class = "about">
                <ul><h3>ABOUT US</h3>
                    <a href = "https://www.murdochuniversitydubai.com/faq" style="color: white"> <li>FAQ</li> </a>
                    <a href = "https://murdochdubaicareerportal.com/page/anti-scam" style="color: white"> <li>Anti-Scam</li> </a>
                    <a href = ""><li style="color: white">Terms</li> </a>
                    <a href = "https://www.murdochuniversitydubai.com/university-privacy-policy" style="color: white"><li>Privacy</li> </a>
                </ul>
            </div>

            <!-- This is the 2nd column of the footer !-->
            <div class = "sitemap">
                <ul>
                    <h3>SITEMAP</h3>
                    <a href = "sitemap.html" style="color: white"><li> Sitemap </li> </a>
                </ul>
            </div>



            <!-- This is the 3rd column of the footer !-->
            <div class = "contact">
                <h3> CONTACT US </h3>
                <p class="para1">
                    <b>Murdoch University Dubai</b>
                    <br>
                </p>
                <p class="para2">
                    Dubai International Academic City <br>
                    Block 10, Fourth floor <br>
                    P.O. Box 345005 <br>
                    Dubai, United Arab Emirates
                </p>

            </div>

            <!-- This is the 4th column of the footer !-->
            <div class = "follow">
                <h3> FOLLOW US </h3>
                <a href= "https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src = "{% static 'images/twitter.png' %}" alt = "Twitter Icon" height="35.0em" width="35.0em"> </a>
                <a href= "https://www.facebook.com/murdochdubai/"><img src= "{% static 'images/facebook.png' %}" alt = "Facebook Icon" height="40.0em" width="40.0em"> </a>
                <a href= "https://www.linkedin.com/school/murdoch-university-dxb/"><img src = "{% static 'images/linkedin.png' %}" alt = "LinkedIn Icon" height="35.0em" width="35.0em"></a>
                <a href = "https://www.instagram.com/murdochdubai/?hl=en"><img src = "{% static 'images/insta.png' %}" alt = "Instagram Icon" height="40.0em" width="47.0em"></a>
            </div>
        </div>
    </footer>
</html>