{% load staticfiles %}
<!-- Stylesheet -->
{% block css %}
    <link rel="stylesheet" rel = "text/css" href="{% static 'css/Stylesheet.css' %}"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/form.css' %}"/>
<link rel="stylesheet" type = "text/css" href="{% static 'css/View.css' %}"/>
{% endblock css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
</head>
<header>
        <nav>
            <section class= "nav-container">
                <div class = "logo"><img src="{% static 'images/murdochlogo.png' %}" alt = "Murdoch University Logo" height="60.0em" width="170.0em"></div>
                <aside class="menu">
                    <div class="menu-content">
                         <a href="../accounts/logout"><i class="userlogin"></i>Log Out</a>
                        <a href="../employer/view_employer_profile"><i class="useradd "></i>{{ employer.company_name }}</a>
                    </div>
                </aside>
            </section>
        </nav>

        <div class="bottomnav">
            <a class="active" href="/"> <b>Home</b></a>
           <a href="../view_jobs"> <b>Browse Students</b></a>
            <a href="../create_job"> <b> Post a job</b></a>
        </div>
    </header>
<br><br>
<body>
<div class="page">
    <div class = "container" >
        <div class = "page">
            <div class="icon">
    {% if employer.logo %}
        <img src="{{ employer.logo.url }}" height="80.0em" width="90.0em">
    {% else %}
        <img src="{% static 'DefaultDP.jpg' %}" height="80.0em" width="90.0em">
    {% endif %}
            </div>
             <div style="align:center; padding-top: 20px;"><h2>My Profile</h2> </div>
             </div>
            <div class = "container2">
                <p class="view"> <strong>Company Name:</strong> {{ employer.company_name }}</p>
                <p class="view"> <strong>Company Description:</strong> {{ employer.company_description }}</p>
                <p class="view"> <strong>Contact Number:</strong> {{ employer.phone_number }}</p>

                <button id="Button1" type="button" class="btn" style="color:white; background-color:rgb(204,0,0); width: 140px; height:30px; margin-left: 270px;">
                <a href="/employer/edit_employer_profile">Edit Profile</a></button><br><br>

            </div></div></div>
</body>
<br><br>
<!--This is the begining of the footer!-->
    <footer>
        <div class = "main">

            <!-- This is the 1st column of the footer!-->
            <div class = "about">
                <ul><h3>ABOUT US</h3>
                    <a href = "https://www.murdochuniversitydubai.com/faq" class = "white"> <li>FAQ</li> </a>
                    <a href = "https://murdochdubaicareerportal.com/page/anti-scam"> <li>Anti-Scam</li> </a>
                    <a href = ""><li>Terms</li> </a>
                    <a href = "https://www.murdochuniversitydubai.com/university-privacy-policy"><li>Privacy</li> </a>
                </ul>
            </div>

            <!-- This is the 2nd column of the footer !-->
            <div class = "sitemap">
                <ul>
                    <h3>SITEMAP</h3>
                    <a href = "sitemap.html"><li> Sitemap </li> </a>
                </ul>
            </div>

            <!-- This is the 3rd column of the footer !-->
            <div class = "helpDesk">
                 <ul>
                     <h3> SUPPORT </h3>
                     <a href =my_helpdesk_request.html"> Help Desk</a>
                </ul>
            </div>

            <!-- This is the 4th column of the footer !-->
            <div class = "contact">
                <h3> CONTACT US </h3>
                <p class="para1">
                    <b>Murdoch University Dubai</b>
                    <br>
                </p>
                <p class="para2">
                    Dubai International Academic City <br>
                    Block 10, Fourth floor <br>
                    P.O. Box 345005 <br>
                    Dubai, United Arab Emirates
                </p>

            </div>

            <!-- This is the 5th column of the footer !-->
            <div class = "follow">
                <h3> FOLLOW US </h3>
                <a href= "https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img src = "{% static 'images/twitter.png' %}" alt = "Twitter Icon" height="35.0em" width="35.0em"> </a>
                <a href= "https://www.facebook.com/murdochdubai/"><img src= "{% static 'images/facebook.png' %}" alt = "Facebook Icon" height="40.0em" width="40.0em"> </a>
                <a href= "https://www.linkedin.com/school/murdoch-university-dxb/"><img src = "{% static 'images/linkedin.png' %}" alt = "LinkedIn Icon" height="35.0em" width="35.0em"></a>
                <a href = "https://www.instagram.com/murdochdubai/?hl=en"><img src = "{% static 'images/insta.png' %}" alt = "Instagram Icon" height="40.0em" width="47.0em"></a>
            </div>
        </div>
    </footer>
</html>