{% extends "theme.html" %}
{% load staticfiles %}

{% block content %}
    {% if candidates %}
        <table class="table">
            <thead>
            <tr>
                <th>Date Applied</th>
                <th>Student Name</th>
            </tr>
            </thead>
            <tbody>
            {% for candidates in candidates %}
                <tr>
                <td>{{ candidates.date_applied }}</td>
                <td>{{ candidates.applied }}</td>
                <td>
                    <button type="button"><a target="_blank" href="{{ candidates.applied.cv.url }}">DOWNLOAD
                        CV</a></button>
                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    {% else %}
        No application received yet
    {% endif %}
{% endblock %}