{% extends "theme.html" %}
{% load staticfiles %}


{% block title %}
    View Jobs - Murdoch Dubai Job Portal
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}"/>

{% endblock %}

{% block content %}

    <style>
        .overall-page1 {
            display: flex;
        }

        .overall-page2 {
            display: flex;
            margin-top: 1em;
        }

        .icon {
            flex: 0.2;
            margin: 0.55em;
        }

        .inside-container {
            margin: auto;
            height: auto;
            padding-top: 0px;
            padding-bottom: 3em;
            align: left;
            border: 0.05em;
            margin-bottom: 0em;
            margin-left: 20em;
        }

        .top {
            align: center;
            margin: auto;
            height: auto;
            background-color: #F8F8F8;
            padding-top: 0.0em;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }

        .left {
            width: 10%;
            margin: auto;
        }

        .right {
            width: 90%;
            margin-left: 10%;
            margin-right: 2%;
        }


        .bottom {
            align: center;
            margin: auto;
            height: auto;
            background-color: #F8F8F8;
        }

        .column {
            float: left;
            width: 25%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        .text {
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 3.6em;
            line-height: 1.8em;
            -webkit-line-clamp: 2; /* number of lines to show */
        }


    </style>

    <div style="display: flex">
        <div class="sidebar" style="width: 17.5%; margin-top: 1em; position: fixed;">
            <h2 style="margin-bottom: 0.3em">Filter Job Listing</h2>
            <div align="right" style="margin-right: 7%">
                <a href="../../view_jobs"><b>View All Jobs</b></a>
            </div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                Duration (months):<br>{{ form.min_duration }} - {{ form.max_duration }}<br><br>
                Location: {{ form.location }}<br><br>
                {{ form.job_type_id.label }}: {{ form.job_type_id }}<br><br>
                Salary (AED/month):<br>{{ form.min_salary }} - {{ form.max_salary }}<br><br>
                <button class="button" type="Submit"><b>Submit</b></button>
            </form>
        </div>

        <div style="flex: 5; margin-left: 2em; margin-right: 2em">
            <div style="display: flex">
                <div align="left" style="margin-left: 20em;">
                    <h2>Browse Jobs</h2>
                </div>
            </div>

            <div class="overall-page1">

                <div class="inside-container">
                    {% for job in jobs %}
                        {% for company in companies %}
                            {% if job.posted_by == company.user %}
                                <div class="top">
                                    <div class="overall-page2">
                                        <div class="left">
                                            <div class="icon">
                                                {% if company.logo %}
                                                    <img src="{{ company.logo.url }}" height="150.0em"
                                                         width="150.0em">
                                                {% else %}
                                                    <img src="{% static 'DefaultDP.jpg' %}" height="150.0em"
                                                         width="150.0em">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h3><a href="{% url 'job_details' job.id %}"> {{ job.job_title }} </a>
                                            </h3>

                                            <h4> {{ company.company_name }}</h4>
                                            <hr>
                                            <div class="text">{{ job.description }}</div>
                                            <hr>

                                            <div class="bottom">
                                                <div class="row">
                                                    <div class="column" align="left"><b>Salary:</b>
                                                        <p> AED {{ job.salary }} </p></div>
                                                    <div class="column" align="center"><b>Duration:</b>
                                                        <p> {{ job.duration }} months</p></div>
                                                    <div class="column" align="center"><b>Industry:</b>
                                                        <p> {{ job.industry_id }} </p></div>
                                                    <div class="column" align="center"><b>Job Type:</b>
                                                        <p> {{ job.job_type_id }} </p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
