{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
    {% block css %}
        <link rel="stylesheet" rel="text/css" href="{% static 'css/index.css' %}"/>
    {% endblock css %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Browse Students - Murdoch Dubai Job Portal</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Welcome to Murdoch University Job Portal : 100% Job Board. Find a job near you. Simple, fast and efficient -  United Arab Emirates">
        <meta name="keywords"
              content="Job Portal, Career Portal, United Arab Emirates, jobs ads, career, jobs, ads, script, app, premium jobs">

        <link rel="shortcut icon" href="{% static 'images/Favicon.png' %}"/>
    </head>

    <header>
        <nav>
            <section class="nav-container">
                <div class="logo"><img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo"
                                       height="60.0em" width="170.0em"></div>
                <aside class="menu">
                    <div class="menu-content">
                        <a href="../accounts/logout"><i class="userlogin"></i>Log Out</a>
                        <a href="../employer/view_employer_profile"><i class="useradd "></i>{{ employer.company_name }}
                        </a>
                    </div>
                </aside>
            </section>
        </nav>

        <div class="bottomnav">
            <a href="/"> <b>Home</b></a>
            <a href="../view_students"> <b>Browse Students</b></a>
            <a href="../create_job"> <b> Post a job</b></a>
            <a href="../news"> <b> News</b></a>
        </div>
    </header>

    <body>


    <h2>Browse Students</h2>

    <h5><a href='../view_students'>View All Students</a></h5>
    <table class="table">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Expected Graduation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
            <td>
                <a href="{% url 'student_details' student.user_id %}"> {{ student.user.first_name }} {{ student.user.last_name }}</a>
            </td>
            <td> {{ student.user }}</td>
            <td>{{ student.expected_graduation_date }}</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
    <br>
    <div>
        <h2>Filter Students Listing</h2>
        <hr>
        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="Submit"><b>Submit</b></button>
        </form>
    </div>


    </body>

    <!--This is the beginning of the footer!-->
    <footer>
        <div class="main">

            <!-- This is the 1st column of the footer!-->
            <div class="about">
                <ul><h3>ABOUT US</h3>
                    <a href="https://www.murdochuniversitydubai.com/faq" style="color: white">
                        <li>FAQ</li>
                    </a>
                    <a href="https://murdochdubaicareerportal.com/page/anti-scam" style="color: white">
                        <li>Anti-Scam</li>
                    </a>
                    <a href="">
                        <li style="color: white">Terms</li>
                    </a>
                    <a href="https://www.murdochuniversitydubai.com/university-privacy-policy" style="color: white">
                        <li>Privacy</li>
                    </a>
                </ul>
            </div>

            <!-- This is the 2nd column of the footer !-->
            <div class="sitemap">
                <ul>
                    <h3>SITEMAP</h3>
                    <a href="sitemap.html" style="color: white">
                        <li> Sitemap</li>
                    </a>
                </ul>
            </div>

            <!-- This is the 3rd column of the footer !-->
            <div class="helpDesk">
                <h3> Help Desk</h3>
                <li> <a href = "/HelpDesk/HelpDesk/"> </a></li></h3>

            </div>

            <!-- This is the 4th column of the footer !-->
            <div class="contact">
                <h3> CONTACT US </h3>
                <p class="para1">
                    <b>Murdoch University Dubai</b>
                    <br>
                </p>
                <p class="para2">
                    Dubai International Academic City <br>
                    Block 10, Fourth floor <br>
                    P.O. Box 345005 <br>
                    Dubai, United Arab Emirates
                </p>

            </div>

            <!-- This is the 5th column of the footer !-->
            <div class="follow">
                <h3> FOLLOW US </h3>
                <a href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img
                            src="{% static 'images/twitter.png' %}" alt="Twitter Icon" height="35.0em" width="35.0em">
                </a>
                <a href="https://www.facebook.com/murdochdubai/"><img src="{% static 'images/facebook.png' %}"
                                                                      alt="Facebook Icon" height="40.0em"
                                                                      width="40.0em">
                </a>
                <a href="https://www.linkedin.com/school/murdoch-university-dxb/"><img
                        src="{% static 'images/linkedin.png' %}" alt="LinkedIn Icon" height="35.0em" width="35.0em"></a>
                <a href="https://www.instagram.com/murdochdubai/?hl=en"><img src="{% static 'images/insta.png' %}"
                                                                             alt="Instagram Icon" height="40.0em"
                                                                             width="47.0em"></a>
            </div>
        </div>
    </footer>

    </html>

{% endblock %}

{% block js %}
    <script>
        // the initialisation of dataTables and set the ordering of first column

        $('.table').DataTable({
            "order": [[0, "desc"]],
            scrollX: true
        });

    </script>
{% endblock %}
