{% block css %}
{% endblock css %}

{% block content %}

<table class="table">
    <thead>
    <tr class="text-center">
        <th>Request Date</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Completed Date</th>
    </tr>
    </thead>
    <tbody>
    {% for helpdeskRequest in helpdeskRequests %}
    <tr class="text-center">
        <td>{{ helpdeskRequest.issue_date|date:"d/m/Y"}}</td>
        <td>
            <a href="{% url 'HelpDesk' helpdeskRequest.id %}">
                {{ helpdeskRequest.subject }}</a>
        </td>
        <td>
            {% if helpdeskRequest.completed == True %}
            Completed
            {% else %}
            Pending
            {% endif %}
        </td>
        <td> {{ helpdeskRequest.completed_date }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block js %}
<script>
        // the initialisation of dataTables and set the ordering of first column
        $(".table").DataTable({
            "order": [[0, "desc"]]
        });


</script>
{% endblock js %}