{% block content %}
{% load comments %}

<title>HELP DESK</title>

<form method="POST">
    <div>
        {% csrf_token %}
        <p>Subject:</p>
        {{ help_desk_form.subject }}
        <p>Please describe the issue or concern you are facing in detail:</p>
        {{ help_desk_form.issue }}
        {% if not thread %}

        <button type="submit" name="submitbutton">Submit</button>

        {% endif %}
    </div>
</form>
{% if thread %}

<p> Number of Comment/s: <span
        class="paragraph-comment"> {{ thread.text }} </span>
    {# Get the number of comments for current post #}
    {% get_comment_count for thread as comment_count %}
    <!-- Number of comments-->
    <span>
        {% if comment_count != 0 %}
        {% endif %}
        {{ comment_count }} comment/s
                        </span>
</p>


{# Get comments from the DB #}
{% get_comment_list for thread as comments_list %}
<!--      Comments          -->
{% for comment in comments_list %}
{% if comment.user == user %}

<span>
    {{ comment.user_name }}
</span>
<p> "{{ comment.submit_date }}"
    {{ comment.submit_date|timesince }} ago
</p>

<div>
    {% if forloop.counter != comment_count %}
    {% endif %}
    <pre>{{ comment.comment }}</pre>

    {% else %}

    <span>
        {{ comment.user_name }}
    </span>
    <p> {{ comment.submit_date }}"
        {{ comment.submit_date|timesince }} ago
    </p>


    {% if forloop.counter != comment_count %}
    {% endif %}
    <pre>
        {{ comment.comment }}
    </pre>
</div>

{% endif %}
{% endfor %}
{% get_comment_form for thread as form %}

<form method="post">
    {% csrf_token %}
    <div>
                <textarea id="{{ form.comment.id_for_label }}" name="{{ form.comment.html_name }}"
                          class="form-control"
                          required
                ></textarea></div>
    {# Required hidden fields to be rendered for security reasons from django-contrib-comments #}
    {% for field in form %}
    {% if field.is_hidden %}
    <div>{{ field }}</div>
    {% endif %}
    {% endfor %}
    <input type="hidden" name="name" value="{{ request.user.get_full_name }}"/>
    <input type="hidden" name="email" value="{{ request.user.email }}"/>
    <input type="hidden" name="url" value="http://dummyurl.com"/>
    <input type="hidden" name="next" value="{{ request.path }}"/>
    <div class="text-center my-3">
        <!-- disabled if ticket is completed -->
        {% if not help_desk_form.completed.value == True %}
        <button type="submit" name="submit" value="Post">Comment
        </button>
        {% endif %}
    </div>
</form>


{% endif %}


{% endblock content %}

{% block js %}
<script>
        // the initialisation of bootstrap tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

</script>

{% endblock js %}